:root {
  --db-blue-darkerer: #002142;
  --db-blue-darker: #003061;
  --db-blue-dark: #004f9e;
  --db-blue: #0070e0;
  --db-blue-light: #85c2ff;
  --db-blue-lighter: #b7dbff;
  --db-blue-lighterer: #d9ecff;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.textArea, pre, code {
  font-family: FakeFontName, monospace; /* one of the world's greatest "wat"s. Read all about it: https://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
}

.textArea {
  font-size: 0.8rem;
  line-height: 1.2rem;
  overflow: auto;
  padding-left: 5px;
  white-space: pre;
}

.textArea.wrap {
  white-space: pre-wrap;
  word-break: break-all;
}

/*  Plain Text display */
.textArea p {
  margin: 0;
  padding: 0;
}

.textArea .highlight {
  background: var(--db-blue-lighterer);
  box-shadow: inset 3px 0 0 var(--db-blue),
    /* grow the light background color off to the right but without impating scrollable area */
    300px 0 0 var(--db-blue-lighterer),
    600px 0 0 var(--db-blue-lighterer),
    900px 0 0 var(--db-blue-lighterer),
    1200px 0 0 var(--db-blue-lighterer);
  padding-left: 5px; /* room for the highlight indication */
  margin-left: -5px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 1;
}

.btn {
  display: inline-block;
  padding: 20px 10px;
  min-width: 180px;
  text-align: center;
  background: var(--db-blue);
  box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.3);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
}
.btnLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.btn:active {
  background: var(--db-blue-dark);
}
.btnLogin:hover, .btnLogin:focus {
  box-shadow: 0 0 0 5px white, 0 0 0 10px var(--db-blue-lighter);
}

a {
  color: var(--db-blue-dark);
}


/* ------------------------------------- Dark Mode */
.dark {
  background: black;
  color: white;
}
.dark a {
  color: var(--db-blue-light);
}
.dark .btn {
  color: white;
  background: var(--db-blue);
}
.dark .textArea .highlight {
  background: var(--db-blue-darkerer);
  box-shadow: inset 3px 0 0 var(--db-blue),
    /* grow the light background color off to the right but without impating scrollable area */
    300px  0 0 var(--db-blue-darkerer),
    600px  0 0 var(--db-blue-darkerer),
    900px  0 0 var(--db-blue-darkerer),
    1200px 0 0 var(--db-blue-darkerer);
}