.settings {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 100%;
  bottom: 0;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0,0,0,0.95);
  transition: top 0.15s ease-out;
  padding: 20px;
  color: white;
}
.settings.show {
  top: 0;
}
.settings .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;  
  transform: translateX(-50%);
}

.settings header {
  text-align: center;
  margin-bottom: 20px;
}

.settings header img {
  margin-right: -28px;
  margin-bottom: -28px;
}

.settings input[type="checkbox"] {
  margin-right: 5px;
}