.settings {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  background: rgba(0,0,0,0.92);
  transition: transform 0.15s ease-out, opacity 0.15s ease-out;
  padding: 20px;
  color: white;
  /* hide */
  transform: translateY(100%);
  opacity: 0;
}
.settings.show {
  transform: translateY(0);
  opacity: 1;
}
.settings .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;  
  transform: translateX(-50%);
}

.settings header {
  text-align: center;
  margin-bottom: 20px;
}

.settings header img {
  margin-right: -28px;
  margin-bottom: -28px;
}

.settings input[type="checkbox"] {
  margin-right: 5px;
}