.thinker {
  position: fixed;
  top: 5px;
  right: 5px;
  text-align: center;
  animation: spin 1000ms infinite linear;
  width: 2.2rem;
  height: 2.2rem;
  padding: 3px;  
  line-height: 2.4rem; /* hand-tuned so the osx spiral emoji looks centered */
  padding-left: 1px;
  font-size: 2rem;
  border-radius: 50%;
  background: rgba(255,255,255,0.9);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.thinker.show {
  opacity: 1;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(-360deg);
  }
}